* {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #8dbcc7;
}
ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    display: inline-block;
    padding: 20px 40px;
    text-decoration-line: none;
    color: #fff;
}
nav ul li a:hover {
    background-color: #0f2c5b;
}