* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* Screen */
#titlescreen {
    text-align: center;
    padding: 25px;
}

#navscreen {
    text-align: center;
}
#navscreen img {
    width: 13%;
    margin: 4% 7%;
}

/* Tablet */
header, main {
    width: 1100px;
    background-color: #FFA500;
    padding: 20px;
    text-align: center;
    border: 2px solid #000000;
    margin: 10px auto;
}

#tablet {
    border: 40px solid #000000;
    border-radius: 15px;
    background-color: #ffffff;
    height: 600px;
    width: 950px;
}

iframe {
    border: none;
    width: 878px;
    height: 520px;
}