/* Op het examen moet je NIET de TRANSFORM
EN  Calc in de hoogte (breedte wel) kunnen.
Wordt niet gevraagd!
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri Light", sans-serif;
}
body{
    background-image: url("assets/achtergrond.png");
}
header{
    width: 960px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-variant: small-caps;
    padding: 25px;
    color: #ffffff;
    background-color: #2F4F4F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main{
    width: 960px;
    margin: 100px auto 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc
}

main section article {
    background-color: #cccccc;
    height: calc((100% / 3) - (8% / 3));
    margin: 2%;
    overflow: auto;
}
/*
}
main section#about{
    margin: 20px 0;
}
main section#about h2{
    margin: 0 0 15px 0;
}
main section#articles{
    height: 800px;
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
}
main section h3{
    margin: 20px 0;
}
main section article h4{
    margin-bottom: 10px;
}
main section article{
    background-color: #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 30%;
    overflow: auto;
}
*/

#terugnaarboven {
    background-color: #2F4F4F;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

#terugnaarboven a {
    color: #ffffff;
    text-decoration: none;
}


/* Op het examen moet je NIET de TRANSFORM
EN  Calc in de hoogte (breedte wel) kunnen.
Wordt niet gevraagd!
*/